

li {
font-size: 14px;
line-height: 22px;
color: black;
font-family: Arial, Helvetica, sans-serif;
}

/*----How to define a counter---*/

/* 1. Define a counter */
body {
    counter-reset: kapital;
}

/* 2. Increment the counter for each kapital */
h2::before {
    counter-increment: kapital;
    content: "KAPITEL" counter(kapital) ". ";
}